* {
    font-family: 'Open Sans';
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

#under-construction {
    width: 45%;
}

._0 {
    color: #000000;
}

._1 {
    color: #0000aa;
}

._2 {
    color: #00aa00;
}

._3 {
    color: #00aaaa;
}

._4 {
    color: #aa0000;
}

._5 {
    color: #aa00aa;
}

._6 {
    color: #ffaa00;
}

._7 {
    color: #aaaaaa;
}

._8 {
    color: #555555;
}

._9 {
    color: #5555ff;
}

._a {
    color: #55ff55;
}

._b {
    color: #55ffff;
}

._c {
    color: #ff5555;
}

._d {
    color: #ff55ff;
}

._e {
    color: #ffff55;
}

._f {
    color: #ffffff;
}